<div class="row">
    <div class="col-12">
        <img src="{{ currentRecipe.imagePath }}" alt="{{ currentRecipe.name }}" class="img-fluid" style="max-height: 500px;">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{ currentRecipe.name }}</h1>
    </div>
</div>
<div class="col">
    <div class="row">
            <ul class="list-group">
                <li class="list-group-item"><a (click)="onToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
                <li class="list-group-item"><a href="#">Edit Recipe</a></li>
                <li class="list-group-item"><a href="#">Delete Recipe</a></li>
            </ul>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ currentRecipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of currentRecipe.ingredients">{{ ingredient.name }} - {{ ingredient.amount }}</li>
        </ul>
    </div>
</div>